[Desktop Entry]
Version=1.0
Type=Application
Name=Padlock
Comment=Unlock and lock LUKS partitions
Exec=/usr/local/bin/padlock --unlock
Icon=/usr/share/icons/padlock.png
Path=
Terminal=true
StartupNotify=false
