[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Przeglądanie stron WWW
Exec=/usr/local/bin/secured-firefox
Icon=firefox-esr
Path=
Terminal=false
StartupNotify=true
