[Desktop Entry]
Version=1.0
Type=Application
Name=GVim
Comment=Edytuj pliki tekstowe
Exec=gvim -f %F
Icon=gvim
Path=
Terminal=false
StartupNotify=true
