[Desktop Entry]
Version=1.0
Type=Application
Name=Menedżer maszyn wirtualnych
Comment=Zarządzanie maszynami wirtualnymi
Exec=virt-manager
Icon=virt-manager
Path=
Terminal=false
StartupNotify=false
