[Desktop Entry]
Version=1.0
Type=Application
Name=Padlock
Comment=
Exec=/usr/local/bin/padlock
Icon=/usr/share/icons/padlock-icon.png
Path=
Terminal=true
StartupNotify=false
