[Desktop Entry]
Version=1.0
Type=Application
Name=VLC media player
Comment=Odczytywanie, przechwytywanie i nadawanie strumieni multimedialnych
Exec=/usr/bin/vlc --started-from-file %U
Icon=vlc
Path=
Terminal=false
StartupNotify=false
