[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/xf0r3m/Pulpit/GVim.desktop]
row=5
col=0

[/home/xf0r3m/Pulpit/Pliki.desktop]
row=2
col=0

[/home/xf0r3m/Pulpit/Terminal.desktop]
row=3
col=0

[/home/xf0r3m/Pulpit/Padlock.desktop]
row=2
col=1

[/home/xf0r3m/Pulpit/Firefox.desktop]
row=1
col=0

[/home/xf0r3m/Pulpit/VLC media player.desktop]
row=0
col=1

[/home/xf0r3m/Pulpit/Menedżer maszyn wirtualnych.desktop]
row=1
col=1

[/home/xf0r3m/Pulpit/Qmmp.desktop]
row=4
col=0

[Kosz]
row=0
col=0

